@use '@angular/material' as mat;

.owners-table-header {
  padding: 10px 15px 0 15px;
  background-color: #f2f2f2;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.table-title {
  font-weight: 300;
  font-size: 26px;
  margin: 10px 0px 10px 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.button-container {
  padding: 10px 20px 10px 10px;
}

.owners-table-button {
  background-color: rgb(251, 142, 40) !important;
  border-radius: 5px;
  width: 150px;
}

.owners-table-button:hover {
  background-color: rgb(233, 121, 16) !important;
  border-radius: 5px;
}

.icon-button-container {
  padding: 10px;
}

.icon-button {
  border-radius: 100%;
  background-color: rgb(251, 142, 40);
  color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2) !important;
}

.search-container {
  flex: 0 0 50%;
  height: 40px;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.search-field {
  margin-bottom: -1.25em;
  padding-right: 20px;
  width: 300px;

  @include mat.form-field-overrides((
    outlined-focus-outline-color: rgb(251, 142, 40),
  ));
  @include mat.form-field-density(-5);
}

.search-input {
  padding-top: 3px;
}

.filter-owners-button {
  background-color: rgb(251, 142, 40) !important;
  border-radius: 5px;
  width: 26%;
}

.search-icon-button {
  color: rgb(251, 142, 40);
}

.search-icon {
  font-size: 30px !important;
}

.responsive-table {
  overflow-y: auto;
  overflow-x: auto;
  max-height: calc(100vh - 347px);
}

table {
  width: 100%;

  th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
  }

  td {
    padding-left: 20px;
  }
}

.action-column-header {
  padding-left: 38px !important;
}

.table-icon-button {
  color: rgb(251, 142, 40);
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 0.5;
  padding: 25px;
  @include mat.progress-spinner-overrides((
    active-indicator-color: orange,
  ));
}

.no-owners-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

mat-paginator {
  background-color: #f2f2f2;
  font-size: 13px;

  @include mat.form-field-density(-6);
  @include mat.form-field-overrides((
    container-text-size: 15px
  ));
}

::ng-deep .mat-paginator .mat-form-field {
  width: 60px;
  padding: 12px 12px 12px 0;
}

::ng-deep .mat-mdc-paginator-page-size-select {
  margin: 0 8px !important;
  width: 70px !important;
}
