.menu-list {
    padding: 0px;
}

.menu-item {
    border-radius: 0 !important;
    border-bottom: 1px solid #dddddd2d;
    box-sizing: border-box;
    height: 60px !important;
    border-left: 5px solid;
    border-left-color: rgba(0,0,0,0);
    background-color: transparent !important;
}

.menu-item:hover {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.menu-item .menu-label {
    color: #ffffff;
}

.menu-label {
    font-size: 15px;
    color: #fff;
}

.menu-icon {
    color: #fff !important;
}

.selected-menu-item {
    border-left-color: #fe863b;

}

.selected-menu-item .menu-label {
    color: #fe863b;
}

.selected-menu-item .menu-icon {
    color: #fe863b !important;
}
  