@if (!isLoading) {
    <mat-nav-list class="menu-list">
        @for (item of menuItems(); track $index) {
            <a 
                mat-list-item 
                class="menu-item" 
                [routerLink]="item.route"
                routerLinkActive="selected-menu-item"
                routerLinkHover="hovered-menu-item"
                #rla="routerLinkActive"
                [activated]="rla.isActive"
            >
                <mat-icon matListItemIcon class="menu-icon">{{ item.icon }}</mat-icon>
                @if(!drawerCollapsed()) {
                    <span matListItemTitle [innerHTML]="item.label" class="menu-label">{{ item.label }}</span>
                }
            </a>
        }
    </mat-nav-list>
}